.score-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.base-rotate-wrapper {
    position: relative;
    width: 64px;
    height: 64px;
    margin: 24px -8px 8px 54px;
    transform: translateX(-50%) rotate(45deg);
}

.base {
    position: absolute;
    width: 32px;
    height: 32px;
}

#second-base {
    left: 0;
    top: 0;
}

#third-base {
    left: 0;
    top: calc(32px + 8px);
}

#first-base {
    left: calc(32px + 8px);
    top: 0
}


.score-row {
    justify-content: space-between;
    height: 45px;
}

.score-name {
    width: 100%;
    padding: 4px 6px;
    filter: drop-shadow(2px 2px 2px black);
}

.score-value {
    text-align: center;
    font-weight: bolder;
    min-width: 46px;
    padding: 4px 6px;
}

.inning-container {
    text-align: center;
    width: 38px;
    padding-left: 6px;
    padding-right: 6px;
    margin-left: 6px;
    margin-right: 6px;
}


.counts-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100px;
    text-align: center;
    margin-left: 6px;
}

.counts-top {
    padding-left: 6px;
    padding-right: 6px;
    height: 45px;
}

.counts-bottom {
    padding-left: 6px;
    padding-right: 6px;
    height: 45px;
}

.counts-bottom > span, .counts-top > span {
    vertical-align: middle;
}

.logo {
    padding: 2px;
}

.logo img {
    width: 64px;
    object-fit: scale-down;
}
