:root {
    --color-bulls-red: #e20514;
    --color-bulls-dark-red: #a60029;
}

.scoreboard {
    font-family: Oswald, sans-serif;
    font-size: 32px;
    width: 450px;
    margin-right: auto;
    height: calc(96px + 120px);
    overflow: hidden;
}

.scoreboard-top {
    border: 2px solid #666;
    display: flex;
}

.control-container {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
}
